<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>OMDB search</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head> 
<body ng-app="myApp" ng-controller="myCtrl" class="panel-body"> 
<div class="row">
    <div class="col-md-6">
        <div class="col-md-4">
            <input autofocus placeholder="Title of movie"  ng-model="searchQuery" class="form-control" type="text" />
        </div>
        <div class="col-md-2">
            <button id="search" class="btn btn-default" ng-click="searchResult()">Search</button>
        </div>
    </div> 
</div> 
 
<div class="panel-body" ng-cloak>
        <div class="row" >
            <div class="col-md-4 " ng-repeat="record in myQueryResult.Search | limitTo:3" ng-show="myQueryResult.Search.length > 0">
                <a  href="#" ng-click="GoToPage(record.imdbID);">
                    <img  ng-src="{{record.Poster}}" width="200"  />
                </a> 
            </div> 
			<div>
 			<p>{{myQueryResult.Error}}</p>
			</div>
        </div>
    </div>

</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script>
    var _apiKey = "";
     $(document).ready(function () { 
	  do{
            _apiKey = window.prompt("Please enter api key", "Text");
        } while (_apiKey == null || _apiKey == "");
	 })
	var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope, $http) {
 
 $scope.searchResult=function(){   
  var movieTitle = $scope.searchQuery;
  var omdbApi = "http://www.omdbapi.com/?i=tt3896198&apikey=" + _apiKey + "&s=" + movieTitle + "&page=1";
  $http.get(omdbApi) 
   .then(function(response) {  
       $scope.myQueryResult = response.data;
   }); 
 } 
 $scope.GoToPage=function(imdbID){  
 var omdbApi = "http://www.omdbapi.com/?i=" + imdbID + "&apikey=" + _apiKey;
  $http.get(omdbApi) 
   .then(function(response) {   
       window.location.href = response.data.Website;
   });
 }
}); 
</script>
